body {
  margin: 0;
}

.background {
    background: #5C94FC;
    border-spacing: 0;
    border-collapse: collapse;
}

.background td {
    padding: 0;
    margin: 0;
    width: 20px;
}

.actor {
    position: absolute;
}

.lava {
    background: rgb(255, 80, 80);
}

.wall {
    background: #ffffff;
}

.coin {
    background: rgb(241, 229, 5);
    border-radius: 100%;
}

.player {
    background: rgb(64, 64, 64);
}

.lost .player {
    background: rgb(160, 64, 64);
}

.won .player {
    box-shadow: -4px -7px 10px white, -4px -7px 10px white;
}

.game {
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    position: relative;
}
