body {
  margin: 0;
}

.background {
    background: #b1b1b1;
    border-spacing: 0;
    border-collapse: collapse;
}

.background td {
    padding: 0;
    margin: 0;
    width: 20px;
}

.actor {
    position: absolute;
}

.lava {
    background: rgb(255, 83, 83);
}

.wall {
    background: #ffffff;
}

.coin {
    background: rgb(241, 229, 5);
    border-radius: 100%;
}

.player {
    background: #4cab24; 
}

.lost .player {
    background: rgb(160, 64, 64);
}

.won .player {
    box-shadow: -4px -7px 10px white, -4px -7px 10px white;
}

.game {
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    position: relative;
}

#win-msg {
    max-width: 600px;
    margin: 0px auto;
    padding-top: 20%;
    text-align: center;
    position: relative;
    display: none;
}

#win-msg h1 {
    color: #5c94fc;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.restart-btn {
    background: #5c94fc;
    color: #ffffff;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #5c94fa;
}
