.background {
    background: rgb(52, 166, 251);
    border-spacing: 0;
}

.background td {
    padding: 0;
}

.actor {
    position: absolute;
}

.lava {
    background: rgb(255, 80, 80);
}

.wall {
    background: #ffffff;
}

.coin {
    background: rgb(241, 229, 89);
}

.player {
    background: rgb(64, 64, 64);
}

.lost .player {
    background: rgb(160, 64, 64);
}

.won .player {
    box-shadow: -4px -7px 10px white, -4px -7px 10px white;
}

.game {
    overflow: hidden;
    max-width: 600px;
    max-height: 450px;
    position: relative;
}
